* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

header {
    background-color: #343a40; /* Set background color */
    color: #fff; /* Set text color */
    position: fixed;
    top: 0;
    width: 100%;
    height: 11%;
    z-index: 1000;
    padding: 10px 0; /* Padding for header */
}

.container {
    width: 80%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo a {
    color: #fff; /* Set logo text color */
    text-decoration: none;
    font-size: 24px;
    font-weight: bold; /* Make logo text bold */
}

.navbar-nav {
    display: flex;
    align-items: center;
    gap: 20px;
}

.navbar-nav .nav-item .nav-link {
    color: #00bfff; /* Set nav link color */
    text-decoration: none;
    font-size: 18px;
}

.auth-buttons {
    display: flex;
    gap: 10px;
}

.btn {
    background-color: #00bfff; /* Set button background color */
    color: #fff; /* Set button text color */
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.btn:hover {
    background-color: #cf8ae1; /* Set button hover background color */
}

.navbar-toggler {
    border-color: rgba(255, 255, 255, 0.1); /* Set navbar toggler border color */
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E"); /* Set navbar toggler icon */
}

.navbar-toggler:focus {
    outline: none;
    box-shadow: none;
}

body {
    padding-top: 80px; 
}
